.mainContainerQuestion
{
  padding-top: 40px;
}
.mediaStyle
{
    color: white;
    padding-bottom: 10px;
}
.questionInput
{
  width:210px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid black !important;
  padding-left: 10px;
}
.questionButton
{
    display: flex;
    justify-content: center !important;
    padding-bottom: 15px;
}
.inputRange
{
  color: white ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.range
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.textColor
{
  color:white;
  padding-right:30px;
  width: 80px;
}
.rangeItems
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.slider
{
  width:100%;
}
@media only screen and (max-width:300px){
  .mediaStyle
  {
   font-size: 10x !important;
  } 
 }